[submodule "tactileFinderBrowser"]
	path = tactileFinderBrowser
	url = https://github.com/cegonzalv/tactileFinderBrowser.git
[submodule "tactile_finder_python"]
	path = tactile_finder_python
	url = https://github.com/cegonzalv/tactile_finder_python.git
[submodule "tactileFinderNode"]
	path = tactileFinderNode
	url = https://github.com/cegonzalv/tactileFinderNode.git
[submodule "tactileFinderClient"]
	path = tactileFinderClient
	url = https://github.com/cegonzalv/tactileFinderClient
